.jumbotron {
  background-image: url('images/human-microbiome.jpg');
  background-size: cover;
  height: 100%;}


  
body {
    background-color: linen;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

h1 {
    text-shadow: 2px 2px 5px red;
    font-family: "COPPERPLATE", fantasy;
  }

h4 {
    text-shadow: 2px 2px 5px red;
    font-family: "COPPERPLATE", fantasy;
  }

h2 {
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "COPPERPLATE", fantasy;
  }

.well {
  background-color: linen
}

.panel-body {background-color: linen}

.bubble {font-family: Verdana, Helvetica, sans-serif; font-weight: bold;}
.bar {font-family: Verdana, Helvetica, sans-serif; font-size: 14px;}
.gauge {font-family: Verdana, Helvetica, sans-serif; font-size: 10px;}

p {font-family: Verdana, Helvetica, sans-serif; font-size: 13px;
